.col-title {
    display: flex;
    align-items: center;
    min-width: 0px;
    flex-grow: 1;
    padding: 0;
}

.col-justify-end .col-title {
    flex-direction: row-reverse;
}

.col-options-button {
    border: none;
    background: none;
}

    .col-options-button:before {
        content: '\22ee';
    }

.sortable {
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
}

.title-text {
    text-overflow: ellipsis;    
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}
