table {
    table-layout: fixed;
}

thead {
    /* Note: this doesn't work properly in webviews on Android */
    /* To have a table header be sticky on Android, you have to put this on the th elements, not the thead */
    position: sticky;
    top: 0;
}

th {
    padding: 0;
    position: relative;
}

.column-title-flex {
    position: relative;
    display: flex;
    align-items: stretch;
    user-select: none;
    overflow: hidden;
}

.column-title {
    display: flex;
    align-items: center;
    min-width: 0px;
    flex-grow: 1;
}

.grid-col-right .column-title {
    flex-direction: row-reverse;
}

button.column-title {
    padding: 0;
}

.title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

.sortable {
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
}

.sortable:active, .column-options-button:active, .column-options-button:hover:active {
    background: rgba(0,0,0,0.15);
}

.sortable:active + .column-options-button {
    background: rgba(0,0,0,0.29);
}

th:hover .column-title-flex, th:focus-within .column-title-flex {
    filter: brightness(0.93);
}

th.sorted-asc:focus-within .column-title-flex, th.sorted-desc:focus-within .column-title-flex {
    filter: brightness(0.85);
}

::deep .sort-indicator {
    width: 1.5rem;
    height: 1rem;
    opacity: 0.4;
    flex-shrink: 0;
    text-align: center;
    padding-right: 0.2rem;
    display: inline-block;
    align-items: center;
}

.sorted-asc ::deep .sort-indicator, .sorted-desc ::deep .sort-indicator {
    background: none;
    opacity: 0.6;
    margin-top: -0.6rem;
}

.sorted-asc ::deep .sort-indicator:before {
    content: '\25b2';
}

.sorted-desc ::deep .sort-indicator:before {
    content: '\25bc';
}

.column-options-button {
    border: none;
    opacity: 0.3        ;
    margin-left: auto;
}

.column-options-button:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.1);
}

.column-options-button:before {
    content: '\2630';
    margin: 0;
    padding: 0 0.5rem;
    text-align: center;
}

th:hover .column-options-button, th:focus-within .column-options-button {
    opacity: 1;
}

.column-options {
    position: absolute;
    background: white;
    filter: brightness(1);
    border: 1px solid silver;
    right: 0;
    padding: 1rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.column-width-draghandle {
    position: absolute;
    z-index: 100;
    top: 0; bottom: 0; right: -0.5rem;
    width: 0.7rem;
    cursor: ew-resize;
}

.column-width-draghandle:after {
    content: ' ';
    border-left: 1px solid rgba(0,0,0,0.1);
    position: absolute; top: 0.4rem; bottom: 0.4rem; left: 0.35rem;
}

.column-width-draghandle:hover {
    background: #aaa;
}

.column-width-draghandle:hover:after {
    border-color: white;
}

th:last-of-type .column-width-draghandle {
    display: none;
}

th.grid-col-center .column-title-flex {
    justify-content: center;
}

th.grid-col-center .column-title {
    justify-content: center;
}

th.grid-col-right .column-title-flex {
    justify-content: flex-end;
}

th.grid-col-right .column-title {
    justify-content: flex-end;
}

td.grid-col-center {
    text-align: center;
}

td.grid-col-right {
    text-align: right;
}
