th {
    position: relative; /* So that column-options appears next to it */
}

::deep .sort-indicator {
    /* Preset width so the column width doen't change as the sort indicator appears/disappears */
    width: 1rem;
    text-align: center;
}

.col-sort-asc ::deep .sort-indicator:before {
    content: '\25b2';
}

.col-sort-desc ::deep .sort-indicator:before {
    content: '\25bc';
}

.column-options {
    position: absolute;
    background: white;
    border: 1px solid silver;
    right: 0;
    padding: 1rem;
    z-index: 1;
}

.column-width-draghandle {
    /*
        Absolutely positioned so it can be dragged.
        This also means it doesn't consume any horizontal space, so it's up to the developer to ensure it's positioned
        over some whitespace. The default positioning puts the center line directly over the right-hand-edge of the
        column. Developers can use "transform: translateX(...)" to move it further right if there's a gap between the
        columns.
    */
    position: absolute;
    width: 1rem;
    top: 0; bottom: 0; right: -0.5rem;
    cursor: ew-resize;
}

.column-width-draghandle:after {
    content: ' ';
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute; top: 5px; bottom: 5px; left: 0.5rem;
}

.column-width-draghandle:hover {
    background: #aaa;
}

.column-width-draghandle:hover:after {
    border-color: white;
}

th:last-of-type .column-width-draghandle {
    display: none;
}

td.col-justify-center {
    text-align: center;
}

td.col-justify-end {
    text-align: right;
}

td.col-justify-end {
    text-align: right;
}

html[dir=rtl] td.col-justify-end {
    /* Unfortunately we can't use the :dir pseudoselector due to lack of browser support. Instead we have to rely on
    the developer setting <html dir="rtl"> to detect if we're in RTL mode. */
    text-align: left;
}
