table {
    table-layout: fixed;
}

thead { 
    /* Note: this doesn't work properly in webviews on Android */
    /* To have a table header be sticky on Android, you have to put this on the th elements, not the thead */
    position: sticky;
    top: 0;
}

th {
    padding: 0;
    position: relative;
}

.title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

::deep .sort-indicator {
    width: 1.5rem;
    height: 1rem;
    opacity: 0.4;
    flex-shrink: 0;
    text-align: center;
    padding-right: 0.2rem;
    display: inline-block;
    align-items: center;
}

.sorted-asc ::deep .sort-indicator, .sorted-desc ::deep .sort-indicator {
    background: none;
    opacity: 0.6;
    margin-top: -0.6rem;
}

.sorted-asc ::deep .sort-indicator:before {
    content: '\25b2';
}

.sorted-desc ::deep .sort-indicator:before {
    content: '\25bc';
}

.column-options {
    position: absolute;
    background: white;
    filter: brightness(1);
    border: 1px solid silver;
    right: 0;
    padding: 1rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.column-width-draghandle {
    position: absolute;
    z-index: 100;
    top: 0; bottom: 0; right: -0.5rem;
    width: 0.7rem;
    cursor: ew-resize;
}

.column-width-draghandle:after {
    content: ' ';
    border-left: 1px solid rgba(0,0,0,0.1);
    position: absolute; top: 0.4rem; bottom: 0.4rem; left: 0.35rem;
}

.column-width-draghandle:hover {
    background: #aaa;
}

.column-width-draghandle:hover:after {
    border-color: white;
}

th:last-of-type .column-width-draghandle {
    display: none;
}

td.grid-col-center {
    text-align: center;
}

td.grid-col-right {
    text-align: right;
}
