.paginator {
    display: flex;
    border-top: 1px solid #ccc;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
}

.navigation {
    display: flex;
    margin-left: auto;
    gap: 1rem;
}

.navigation button {
    border: 0;
    background: none;
}

    .navigation button:not([disabled]):hover {
        background-color: #eee;
    }

    .navigation button:not([disabled]):active {
        background-color: #aaa;
    }

.go-first:after {
    content: '⇤';
}

.go-previous:after {
    content: '←';
}

.go-next:after {
    content: '→';
}

.go-last:after {
    content: '⇥';
}
