.quickgrid[theme=default] .col-title, .quickgrid[theme=default] > tbody > tr > td {
    padding: 0.1rem 0.4rem;
}

.quickgrid[theme=default] .col-title {
    gap: 0.4rem; /* Separate the sort indicator from title text */
}

.quickgrid[theme=default] .col-gap {
    width: 1rem;
}

.quickgrid[theme=default] .sort-indicator {
    opacity: 0.5;
}

.quickgrid[theme=default] .col-options-button {
    width: 1.5rem;
}

.quickgrid[theme=default] button.col-title:hover, .quickgrid[theme=default] .col-options-button:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.quickgrid[theme=default] button.col-title:active, .quickgrid[theme=default] .col-options-button:active {
    background-color: rgba(128, 128, 128, 0.5);
}

.quickgrid[theme=default][resizable-columns] th.col-gap:hover {
    background: rgba(128, 128, 128, 0.2);
}

    .quickgrid[theme=default][resizable-columns] th.col-gap:hover:after {
        border-color: black;
    }
