.flag {
    width: 2rem;
    height: 1.5rem;
}

.grid {
    display: inline-flex;
    flex-direction: column;
}

/* TODO: Make the column gaps into not-physical-columns so this becomes nth-child(2) as you'd expect */
.grid ::deep .country-name {
    width: 15rem;
}
