@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<QuickGrid Items="@forecasts">
    <PropertyColumn Property="x => x.Date">
        <ColumnOptions>
            Hello
        </ColumnOptions>
        <HeaderTemplate Context="col">
            Date
            <button @onclick="@(() => col.Grid.ShowColumnOptions(col))">Info</button>
        </HeaderTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x => x.TemperatureC" Align="Align.Left" />
    <PropertyColumn Property="x => (x.TemperatureC * 1.8) + 32" Format="N0" Title="Temperature (F)" Align="Align.Right">
        <ColumnOptions>
            Hello
        </ColumnOptions>
    </PropertyColumn>
</QuickGrid>

@code {
    IQueryable<WeatherForecast> forecasts = new WeatherForecast[]
    {
        new WeatherForecast { Date = DateTime.Now.Date, TemperatureC = 23 },
        new WeatherForecast { Date = DateTime.Now.Date.AddDays(1), TemperatureC = 28 },
    }.AsQueryable();

    class WeatherForecast
    {
        public DateTime Date { get; set; }
        public int TemperatureC { get; set; }
    }
}
