.flag {
    width: 2rem;
    height: 1.5rem;
}

.grid {
    display: inline-flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
}

    .grid ::deep thead {
        /* Header doesn't scroll */
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

.grid ::deep tr {
    height: 30px;
}

/* TODO: Make the column gaps into not-physical-columns so this becomes nth-child(2) as you'd expect */
.grid ::deep thead .country-name {
    width: 15rem;
}
